<!-- As a link -->
<nav class="navbar navbar-light bg-dark justify-content-between">
    <a class="navbar-brand" href="#" style="margin-left: 50px;color:white">Laravel + Angular Authentication using JWT
    </a>

    <div>
        <a style="color:white" class=" navbar-brand" routerLink="login" *ngIf="!loggedIn">Login</a>

        <a style="color:white" class="navbar-brand" routerLink="profile" *ngIf="loggedIn">Video Playlist</a>
        <a style="color:white" class="navbar-brand" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
    </div>


</nav>


<!--
<html>

<body style="margin-top:50px;">
    <center>
        <h3>Create a CRUD of the basic registration process of students (with Users, students & course table) using
            Laravel(v.8+) as a backend(implement eloquent) mySQL as your database(implement basic table relationship)
            and
            Angular(v12+) in the front-end.</h3>
    </center>
</body>

</html> -->