<h3 style="margin-top:50px;">Watch human-curated Staff Picks ></h3>
<div class="row">
    <div class="col-md-3" *ngFor='let item of videoPlaylist1' style="margin-right:80px;">

        <iframe [src]="getEmbedUrl(item.embed)" width="440" height="210" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>


    </div>
</div>
<hr>

<h3 style="margin-top:50px;">Watch human-curated Staff Picks ></h3>
<div class="row">
    <div class="col-md-3" *ngFor='let item of videoPlaylist2' style="margin-right:80px;">

        <iframe [src]="getEmbedUrl(item.embed)" width="440" height="210" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>


    </div>
</div>
<hr>


<h3 style="margin-top:50px;">Watch human-curated Staff Picks ></h3>
<div class="row">
    <div class="col-md-3" *ngFor='let item of videoPlaylist3' style="margin-right:80px;">

        <iframe [src]="getEmbedUrl(item.embed)" width="440" height="210" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>


    </div>
</div>
<hr>